<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Post</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    </head>
    <body>
        <h3>post here!</h3>



        <script th:src="@{/js/jquery.slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>